extends layout

block content
  form#post-form
    h2 New post
    input#input-title(type="text", placeholder="Title")
    textarea#input-contents(placeholder="Contents")
    a(href="")#submit Submit
  #post-list
  #full-posts
