// Sizes
$font-ratio = 1.333em
$line-height = 1.5
$padding = 50px
$line-padding = 1.3em
$width = 1200px
$col-size = (25/3)px
$header-space-bottom = 0em

// Fonts
$fonts = {
    body: sans-serif,
    headers: 'Lobster',
    links: 'Francois One',
    footer: 'Francois One',
    list-items: 'Lobster'
}

// Colors
$palette = {
    text: {
        body: {
            light: floralwhite, // white
            dark: #333 // dark gray
        },
        small: #6B6B6B,
        header: {
            light: floralwhite, // white
            dark: #388E3C // red
        }
    },
    links: {
        header: {
            default: floralwhite, // white
            hover: #C2C2C2 // light gray
        },
        body: {
            default: #282F7D, // blue
            hover: #477187 // lighter blue
        },
        footer: {
            default: floralwhite, // white
            hover: #C2C2C2 // light gray
        }
    },
    specials: {
        quote: {
            header: {
                background: #801515, // red
                border: #550000 // darker red
            },
            body: {
                background: #F2F2F2, // gray
                border: #C2C2C2 // dark gray
            }
        },
        button: {
          background: #8F210C,
          text: floralwhite
        },
        special-button: {
          background: #282F7D,
          text: floralwhite
        }
    },
    backgrounds: {
        primary: #388E3C, // dark red
        body: floralwhite
    }
}
