#comments {
  width: 100%
}

#comments h2 {
  border-top: 1px solid #eee
  padding-top: ($padding / 2)
  margin: ($padding / 2) 0
}

.comment {
  width: 100%
  background-color: #EBEBEB
  border-left: 5px solid #9E9E9E
  padding: ($padding / 4) ($padding / 2)
  margin-bottom: ($padding / 2)
}
