#comment-form {
  width: 100%
  border-top: 1px solid #eee
  padding-top: ($padding / 2)
  margin-top: ($padding / 2)
  input {
    margin-top: ($padding / 4)
  }
  a {
    background-color: $palette.backgrounds.primary
  }
}
